ACTION=="add|change", KERNEL=="sd[a-z]", ATTR{queue/read_ahead_kb}="4096"
# CUBEX EP2000 256GB
SUBSYSTEM=="block", ACTION=="add|change", ENV{ID_MODEL}=="CUBEX EP2000*", ATTR{queue/read_ahead_kb}="4096"
ACTION=="add|change", KERNEL=="vd[a-z]", ATTR{queue/read_ahead_kb}="4096"
